<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149978020971-0cp2jrtom4o9e6il5l32d97v1dmsiron.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149978020971-0cp2jrtom4o9e6il5l32d97v1dmsiron</string>
	<key>API_KEY</key>
	<string>AIzaSyCag9Isa4FWaNlE1g29Z1Ma-AA_jNN_O5U</string>
	<key>GCM_SENDER_ID</key>
	<string>149978020971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centennialcollege.slotmachine</string>
	<key>PROJECT_ID</key>
	<string>slotmachine-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>slotmachine-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149978020971:ios:3a2247ea06e2ea1c31c52e</string>
</dict>
</plist>